:root {
    /* font-sizes */
    --fs-900: 9.375rem;
    --fs-800: 6.25rem;
    --fs-700: 3.5rem;
    --fs-600: 2rem;
    --fs-500: 1.75rem;
    --fs-400: 1.125rem;
    --fs-300: 1rem;
    --fs-200: 0.875rem;
    /* --------------------- */
    --accent: 0 0% 90%;
    --color-light: 0 0% 50%;
    --color-orange: 23, 81%, 54%;
}

*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* border: 1px solid; */
}

body {
    line-height: 1.5;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: var(--fs-300);
    padding-block: 2rem 1rem;
    margin-inline: auto;
    max-width: 70em;

}

/* img presets */
img,
picture {
    max-inline-size: 100%;
    object-fit: contain;
}

fieldset {
    /* all:unset; */
    outline: unset;
    border: none;
}

input {
    outline: none;
    border: 1px solid hsl(var(--color-light));
}

.fs200 {
    font-size: var(--fs-300);
}

.fs100{
    font-size: var(--fs-200);
}


.wrapper {
    width: 98%;
    margin: 0 auto;
}

.container {

    padding-inline: .3rem;
    margin: 0 auto;
}
main{
    padding:1.8rem
}

/* utility classes */
.flex {
    display: flex;
    gap: var(--gap, 1rem);
}

.grid {
    display: grid;
    gap: var(--gap, 1rem);
}

.flow {
    margin-block-start: var(--vertical, 2rem);
}

.pad {
    padding-inline: var(--horizontal-pad, 1rem);
}

.space-between {
    justify-content: space-between;
}

.radius {
    border-radius: 12px;
}

.strike {
    text-decoration: line-through;
}

.pad-1 {
    padding-inline: .8rem;
}

.pad-block {
    padding-block: .5rem;
}

.bold {
    font-weight: 800;
}

.card-cont {
    /* width: 22.5rem; */
    padding: 0 .5rem;
    margin-inline: auto;

}

picture {
    width: 100%;
}

hr {
    border: 1px solid rgb(0, 0, 0, .3);
    --vertical: 4rem;
}



picture>img {
    max-width: 100%;
    min-height: 100%;
}

.card-text-cont {
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
}

.cart-input {

    border: 1px solid hsl(var(--color-light));
    padding-block: 1rem;
    justify-content: space-around;

}

.cart-input button {
    all: unset;
    background-color: hsl(var(--accent));
    padding: 0 .5rem;

}

#cart-section {

    width:40%;
    min-width:348.17px;
}

#form-section{
    margin:0 auto;

}



.clr-orange {
    color: hsl(var(--color-orange))
}


fieldset input {
    width: 100%;
    padding: .7rem;
 max-width:348.17px;
}




::placeholder {
    font-size: 13px;
}

.fa-paper-plane {
    margin-right: 1.7rem;
}






form{
    width:70%;
    max-width:100%;
    min-width:300px;

}

form input{
    margin-bottom: .5rem;
}

fieldset>div {
    margin-top: .3rem;
}

.icon-cont {
    position: relative;
}

.fa-solid {
    color: rgb(0, 0, 0, .5);
    position: absolute;
    left: .5rem;
    top: .7rem;
}

#check {
    display: block;

    width: 19px;
    height: 19px;
}

#submit {
    padding: 1rem 2.5rem;
    justify-content: flex-end;
    background-color: hsl(var(--color-orange));
    border: none;
    color: white;
    font-size: var(--fs-300);
}

#fieldset-four {
    align-items: flex-start;
    justify-content: flex-end;
}

h6 {
    align-items: center;
}

select {
    width: 100%;
    text-indent: 1rem;
    padding: .7rem;
}

option:first-child {
    color: rgb(0, 0, 0, 7)
}

#select-cont {
    width: 100%;
}

#select-cont-two input{
    width: 100%;
    padding: .7rem;
 max-width:348.17px;
}

#select-cont-two {
    width: 100%;
}

fieldset-three input {
    width: 100%;
    max-width:142px;
}




@media screen and (min-width:800px) {
    main {
        display: flex;
         justify-content: space-between;
        gap:2rem;
        margin: 0 auto;

    }

    body {



        padding-block: 2rem 3rem;



    }


    #cart-section {
        order: 1;
        /* width:40%; */
        /* min-width:348.17px; */
        width:340.17px;
    }

    #form-section {
        width:50%;

    }
    form{
        width:60%;

    }

    form input{
        margin-bottom: 1rem;
    }

}












/* --------------------------- */
